 body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
   
 }

 #container {
    display: flex;
    flex-direction: column;
    height: 828px;
    position: relative;
 }

 html {
    background: url(img/background) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

 h1 {
    display: flex;
    justify-content: center;
    font-weight: 870;
    margin: 0;
    padding: 10px;
    background-color: #eeee;
 }

 .recipes {
    position: absolute;
    top: 45%;
    left: 40%;
    width: 400px;
    height: 400px;
 }

 ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 100px;
 }

 a {
    color: black;
    font-style: italic;
    font-size: 30px;
 }

